.table {
   font-weight: bold;

   margin: auto;
   margin-top: 10vh;

   text-align: center;

   color: #5d5c5d;

   &__head-cell {
      line-height: 48px;
   }

   &__day-number {
      padding-right: 25px;
   }

   &__cell {
      width: 50px;
      height: 50px;

      border: 1px solid transparent;

      &::before {
         line-height: 48px;

         display: inline-block;

         width: 100%;

         content: '✘';
         text-align: center;
         vertical-align: middle;

         color: #f0623e;
         border-radius: 15px;
         background-color: #ffbdbe;
      }

      &_right::before {
         content: '✔';

         color: #48ba66;
         background-color: #cbe7c9;
      }

      &_selected {
         border: 1px solid #4e9ed4;
      }
   }
}


.selected-cells-border {
   position: absolute;

   border: 1px solid #4e9ed4;

   &__size-label {
      font-size: 12px;
      font-weight: bold;

      position: absolute;
      bottom: -15px;

      width: 100%;

      text-align: center;

      color: #4e9ed4;
   }

   &__angle-square {
      position: absolute;

      width: 8px;
      height: 8px;

      border: 1px solid #4e9ed4;
      background-color: #f9f8f6;

      &:nth-child(1) {
         top: -4px;
         left: -4px;
      }
      &:nth-child(2) {
         top: -4px;
         right: -4px;
      }
      &:nth-child(3) {
         right: -4px;
         bottom: -4px;
      }
      &:nth-child(4) {
         bottom: -4px;
         left: -4px;
      }
   }
}
